{% extends "base.html" %}
{% block titulo %} Inicio {% endblock %}
{% block body %} 

<h1>Pagina de inicio</h1>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi numquam nostrum corrupti dolorum quisquam facere, ab temporibus tempore veritatis eaque iste labore eveniet, repellat dolore quod eos eum dicta nam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ipsam fugit ratione aperiam est placeat ipsa id saepe iusto illo cum perferendis totam assumenda, eligendi voluptatum quo expedita, odit neque?</p>

{% endblock %}

