{% extends "base.html" %} {% block titulo %} Inicio {% endblock %} {% block body %}
<br>
<!---->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Eliminar juego</h5>
        <!--Formulario-->
        <form action="eliminar_juego" method="get" id="form_registrar_juego"> {% csrf_token %}
            <div class="mb-3">
                <label for="txt_j_id" class="form-label">Id del Juego</label>
                <input type="text" class="form-control" name="txt_j_id" id="txt_j_id">
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-success" value="Eliminar Juego">
            </div>
        </form>
        <!---->
    </div>
</div>
<br>
<!---->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Eliminar Pelicula</h5>
        <!--Formulario-->
        <form action="eliminar_pelicula" method="get" id="form_registrar_juego"> {% csrf_token %}
            <div class="mb-3">
                <label for="txt_p_id" class="form-label">Id de la Pelicula</label>
                <input type="text" class="form-control" name="txt_p_id" id="txt_p_id">
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-success" value="Eliminar Pelicula">
            </div>
        </form>
        <!---->
    </div>
</div>

{% endblock %}