{% extends "base.html" %} {% block titulo %} Inicio {% endblock %} {% block body %}
<h5>Eliminar Juego</h5>
<form action="fx_eliminar_juego" method="get"> {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text">Id del Juego</span>
        <input type="text" class="form-control" name="txt_j_id" id="txt_j_id">
        <input type="submit" class="btn btn-danger" value="Eliminar Juego">
    </div>
</form>
<br>
<h5>Eliminar Pelicula</h5>
<form action="fx_eliminar_pelicula" method="get"> {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text">Id de la Pelicula</span>
        <input type="text" class="form-control" name="txt_p_id" id="txt_p_id">
        <input type="submit" class="btn btn-danger" value="Eliminar Pelicula">
    </div>
</form>
<br>
<h5>Eliminar Libro</h5>
<form action="fx_eliminar_libro" method="get">{% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text">Id del Libro</span>
        <input type="text" class="form-control" name="txt_l_id" id="txt_l_id">
        <input type="submit" class="btn btn-danger" value="Eliminar Libro">
    </div>
</form>
<br>
<p>{{msj}}</p>



{% endblock %}