{% extends "base.html" %} {% block titulo %} Inicio {% endblock %} {% block body %}

<div>
    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Año</th>
                <th>Genero</th>
            </tr>
        </thead>
        <tbody>
            {% for p in peliculas %}
            <tr>
                <td>{{p.titulo}}</td>
                <td>{{p.anno}}</td>
                <td>{{p.genero}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}