{% extends "base.html" %} {% block titulo %} Inicio {% endblock %} {% block body %}

<br>
<div class="container text-center">

    <div class="card">
        <h5 class="card-header" style="text-align: left;">Rigistar Pelicula</h5>
        <div class="card-body">
            <form class="row g-3">

                <label for="p_titulo" class="form-label">Titulo</label>
                <input type="text" name="p_titulo" class="form-control">


                <label for="p_anno" class="form-label">Año</label>
                <input type="text" name="p_anno" class="form-control">


                <label for="p_genero" class="form-label">Genero</label>
                <input type="text" name="p_genero" class="form-control">


                <label for="p_restriccion" class="form-label">Restriccion</label>
                <input type="text" name="p_restriccion" class="form-control">

                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="submit" class="btn btn-primary" value="Ingresar" />
                    <input type="reset" class="btn btn-danger" value="Cancelar" />
                </div>
            </form>
        </div>
    </div>
    <br>

    <div class="card">
        <h5 class="card-header" style="text-align: left;">Registrar Juego</h5>
        <div class="card-body">
            <form class="row g-3">

                <label for="j_titulo" class="form-label">Titulo</label>
                <input type="text" name="j_titulo" class="form-control">


                <label for="j_consola" class="form-label">Consola</label>
                <input type="text" name="j_consola" class="form-control">


                <label for="j_genero" class="form-label">Genero</label>
                <input type="text" name="j_genero" class="form-control">


                <label for="j_restriccion" class="form-label">Restriccion</label>
                <input type="text" name="j_restriccion" class="form-control">


                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="submit" class="btn btn-primary" value="Ingresar" />
                    <input type="reset" class="btn btn-danger" value="Cancelar" />
                </div>
            </form>
        </div>
    </div>

</div>
<br>

{% endblock %}